/node_modules
/public/hot
/public/storage
/storage/*.key
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/vcs.xml
.idea/ProjetPhpLaravel.iml
.idea/php.xml
.idea/modules.xml
.idea/misc.xml
.vs/ProjetPhpLaravel/config/applicationhost.config
.vs/ProjectSettings.json
.vs/ProjetPhpLaravel/v16/.suo
.vs/slnx.sqlite
.idea/laravel-plugin.xml
.vs/VSWorkspaceState.json
