.divselect{
    background-color:orangered;
    width: 15em;
    margin-top: -1em;
    margin-left: 1em;
    margin-bottom: 4em;
}


#Phone input {
    width: 15em;
    margin-top: -1.5em;
    margin-left: 0px;
    padding: .4em;
    border: 2.2px solid orangered;
    margin-bottom: 24px;
    font-weight:bold;
    text-decoration:underline;
    color:black;
}

#continue{
    margin-top: 4em;
}



/* this things for verified */
/* #information p img{
    height: 1em;
    margin-right: 1em ;
    margin-left: 1em;
} */
