thead {
    color: #fcfbf9;
    background-color: rgba(241, 182, 54, 0.993);
}
table,
th,
td {
    border: 1px solid black;
    background:rgb(141, 116, 112)";
}

table-responsive {
    height: 400px;

    /*  background-image: linear-gradient(red, yellow);*/
}
