#fh5co-header-section{
  background-color: orangered;
}

#Row {
    margin-top: 3em;
}

#Row input[type="submit"]{
  width: 15em;
  /* height: 3.5em; */
  /* outline: none;
  background: orangered;
  color:white;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 5px rgb(107, 99, 92); */
}


#rightside{
  position: absolute;
  width: 25%;
  height: 32em;
  background-color: #f5f5f5;
  box-shadow: 0 0 7px rgb(207, 207, 207);
  border-radius: 10px;
  z-index: 999999999999999999999;
  padding: 2em;
  top: 15em;
  right: -7%;
  transform: translate(-50%,0);
  z-index: -11111;
}


footer{
    z-index: 99999999999999;
}

.nonedisplay{
    display: none;
}